@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #041026;
  background-image: linear-gradient(#041026 0% 70%, #0b99c3);
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
    font-weight: normal;
    font-style: normal;

}


a, a:visited {
  color: #ffffff;
  text-decoration: underline;
 /* font-family: 'Roboto Mono', monospace; */
}
a:hover {
  text-decoration: underline;
  background-color: #5000c3;
  /* font-family: 'Roboto Mono', monospace; */ 
}

* {
  box-sizing: border-box;
}

#container {
  max-width: 700px;
  margin: 3em auto;
  width: 90%;
}

#navbar {
  background-color: #041026;
  width: 100%;
  padding: 0 5%;
  font-weight: bold;
  margin-bottom: 10px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #6e51c8;
}
#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}
#navbar li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
#navbar li a, #navbar li a:visited {
  color: #0099c3;
  text-decoration: none;
  padding: 3px;
}
#navbar li a:hover {
  background-color: #5000c3;
  color: #0099c3;
  text-decoration: none;
}

#flex {
  display: flex;
}

article {
  padding: 10px 5% 20px 5%;
  background-color: #041026;
  outline-style: none;
  margin-bottom: 10px;
  width: 100%;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #6e51c8;
}

footer {
  background-color: #041026;
  width: 100%;
  padding: 10px;
  text-align: center;
  outline-style: none;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #6e51c8;
}

h1, h2, h3, h4 {
  color: #00c38f;
  font-family: 'Roboto Mono', monospace;
}

hr {
  border: solid #00c38f;
  border-width: 1px 0 0 0;
}

blockquote {
  padding: 0 20px;  margin-left: 0;  border-left: 2px dotted #ffffff;
  font-size: 1.1em;
  line-height: 1.6em;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.none {
    padding: 0;
    list-style-type: none;
}

/* Kybalion style tricks */
.kybalion {
color: #4d3319;
 font-family: "Quintessential", serif;
background-color: #ebdbad;
/* border: 2px solid; border-left-width: 0.5em; border-color: transparent transparent transparent #4d3319; */
box-shadow: -3px -4px #4d3319; 
padding: 0.25em 0.50em;
border-radius: .1em;
width: 90%;
cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤮</text></svg>") 16 0,auto; /*!emojicursor.app*/, not-allowed;

}

.kybcommentscontainer { 
border: 0px transparent;
display: flex;

}

.kybcomments {
flex: 1;
order: 1;
flex-grow: 3;
color: black;
font-family: 'Roboto Mono', monospace;
 background-image: linear-gradient(#0b99c3 0% 70%, white);
border-radius: 1em;
box-shadow: inset 0 1em 1em -1em white;
padding: 0.30em 0.50em;
float: left;

}

.icon{ 
 /*   flex: .8; */
    order: 2;
    flex-shrink: 1;
width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin-right: 10px; 
    background:url(https://calliopemagic.neocities.org/images/icon.JPG); 
    float: right;
}
.icon img { width: 100%; height: 100%; }

/* Alignment classes */
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Recent Blog Posts block in index.html */
#recentpostlistdiv ul {
  padding: 0;
  list-style-type: none;
}

/* At the bottom of blog posts */
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

@media only screen and (max-width: 900px) {
  #flex {
    flex-wrap: wrap;
  }
  #navbar ul {
    flex-wrap: wrap;
  }
}

/* Go To Top button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #6e51c8;
  background-color: #041026;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  font-family: "Courier New", sans-serif;
}
#topBtn:hover {
  color: #0099c3;
  background-color: #5000c3;
}

details summary {
	cursor: pointer;
}

details summary > * {
	display: inline;
}